#nav-bar {
    background-color: 3D598B;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar-element {
    display: inline;
    float: left;
}

.nav-bar-element :hover {
    background-color: rgb(43, 37, 82);
}

.nav-bar-element-link {
    display: block;
    padding: 8px;
    background-color: 3D598B;
    color: aliceblue;
    text-decoration: none;
}

.nav-bar-element-link :active {
    background-color: 808B3D;
}

body {
    background-color: darkslateblue;
}
